{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="general">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 general-text">

                <h1>{{ r.title }}</h1>

                <p>{{ r.author }} | {{ r.created_on }}</p>
            </div>
            <div class="col-md-6 general-image">
                {% if "placeholder" in r.featured_image.url %}
                <img class="scale" src="{% static 'images/default.jpg' %}"
                    alt="placeholder image">
                {% else %}
                <img class="img" src=" {{ r.featured_image.url }}" alt="{{ r.title }}">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                 <h2> {{coder}} </h2>
                <article class="card-text">
                    {{ r.description  | safe }}
                </article>
            </div>
        </div>
    </div>  
</div>


{% endblock content %}
