{% extends 'base.html' %} 

{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="new-recipe-form">
    
        <title><h1>New Recipe</h1></title>

        <h2>Add New Recipe</h2>

        <!-- adding form here -->
        <div class="col-md-8 card mb-4 mt-3 new-recipe-card">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3> Please add new recipe:</h3>
            <p>Posting as: {{user.username}}</p>
        <form id="newRecipe" method="post"  style="margin-top: 1.3em;">
        
            {{ form | crispy }}
            {{ form.media }}
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">Submit</button>

        </form>
        {% else %}
        <p>Only logged in users can post new recipies. Please log in.</p>
        {% endif %}
        </div>
        </div>
</div>
        {% endblock content %}