/*--------------------------------------------------General */
body {
    background-color: #ECE3DA;
}
/*---------------------------------------------------Navbar */

.navbar {
    background-color:#c0521f;
}

.navbar-nav>li>a {
    color: #e8ba99;
    font-size:13px;
    font-weight:bold;
}

.nav-link:hover {
    color: #ECE3DA;
}


.navbar-nav  a.nav-link.active {
    color: #ECE3DA;
}

.navbar-toggler {
    color:#ECE3DA;
    border:1px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
}

/*---------------------------------------------------Main Page */


.my_page_title {
    font-family: 'Libre Baskerville','Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ECE3DA;
}

.dark-bg {
 color: rgb(0, 0, 0);
 font-size: 20px;
 font-weight: 600;
}

/* Recipe background*/
.card {
    border: none;
    background-color: transparent;
}


.image-container {
    position: relative;
}

/*------------------------------------Recipe titles on the main page*/
.card-title {
    color:#677100;
}

/*removes underlining from hyperlinks on the main page*/
a {
    text-decoration:none;
}


/* Author on the main page*/
.image-flash {
    position: absolute;
    bottom: 1%;
    min-width: 50%;
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    color:#ece3da;
    word-spacing: 5px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 10px;
}
/*-----------------------------------------NEW RECIPE PAGE*/
/* align text on top of the page with other fields*/
.main-bg > p,
.main-bg > h2 {
    padding-left: 16px;
}

.status {
    color:#373B08;
    font-size:15px;
    text-decoration: underline;
}


.new-recipe-form {
    padding-left: 20%;
    padding-right: 20%;
} 
.new-recipe-form > h2,
.new-recipe-form > p,
.card-body > h3 {
    text-align: center;
    color:#373B08;
} 

.card-body > p {
    text-align: center;
    color:#373B08;
}

.new-recipe-card {
    width: 100%;
}



/*Heading of the picture on the Recipe Page*/
.scale {
    width: 50%;
    height: auto;
}

/*Food Card settings*/
.general-text {
    background-color: #E8BA99;
    color: #373B08;
    text-align:center ;
    position: relative;
}

.general-image{
    position: relative;
    overflow: hidden;
}

.general-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 30%;
    height: 100%;
    width: 140%;
    z-index: 100;
}
/*About Page*/
.text-about {
    font-family: 'Oswald', sans-serif;
    color:#373B08;
    font-size: 20px;

}

/*----        REGISTER Page*/

.register {
    padding-left:5%;
    color:#373B08;
}

.register>p {
    color:#373B08;
    font-size: 30px;
}


/* LOG IN Page */
.login {
    color: #373B08;
}
.welcome {
    color:#373B08;
}


/* Editing buttons "LOGOUT PAGE"*/

.btn-signup,
.btn-home {
    background-color: #C0512F;
    color: #ECE3DA;

}


.btn-signup:hover,
.btn-signup:active,
.btn-home:active,
.btn-home:hover {
    background-color: #ECE3DA;
    color: #C0521F;
}

.footer>p,
.footer>i {
    color:#373B08
}

/*---------------------------------------------------------Media query settings*/


@media screen and (man-width: 768px) {
    .general-text {
        margin-bottom: 10px;
    }
}