{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Recipes Entries Column -->
        <div class="col-12 mt-4 left" >
            <div class="row">
                {% for r in recipe_list %}
                <div class="col-md-4">
                    <div class="card mb-4" >
                        <div class="card-body"  style="border: 1px, solid, #677100;">
                            <div class="image-container">
                                {% if "placeholder" in r.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ r.featured_image.url }}" alt="{{ r.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ r.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_app:recipe_detail' r.slug %}" class="post-link">
                                <h2 class="card-title">{{ r.title }}</h2>
                            </a>
                            <br/>
                            <p class="card-text text-muted h6">{{ r.created_on}}</p>
                            <button class="btn btn-edit" data-recipe_slug="{{ r.slug }}">Edit</button>
                            <button class="btn btn-delete" data-recipe_slug="{{ r.slug }}">Delete</button>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% for slug, form in forms.items %}
<div class="modal fade" id="editModal-{{slug}}" tabindex="-1"
        aria-labelledby="editModalLabel-{{slug}}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"
                id="editModalLabel-{{slug}}">Edit recipe</h5>
              <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- adding form here -->
                <div class="col-md-8 card mb-4 mt-3 new-recipe-card">
                  <div class="card-body">
                      {% if user.is_authenticated %}
                      <h3> Please add new recipe:</h3>
                      <p>Posting as: {{user.username}}</p>
                  <form id="editRecipeForm-{{slug}}" method="post" enctype="multipart/form-data" style="margin-top: 1.3em;">
                  
                      {{ form | crispy }}
                      {{ form.media }}
                      {% csrf_token %}
                      <button class="btn btn-secondary" type="submit">Update</button>
      
                  </form>
                  {% else %}
                  <p>Only logged in users can post new recipies. Please log in.</p>
                  {% endif %}
                  </div>
                  </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
{% endfor %}



<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete recipe?</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your recipe?
        This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/recipes.js' %}"></script>
{% endblock %}