{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
<div class="row">
    <span class="text-about">
        <h1>Welcome to My Recipe Book: Your Ultimate Recipe Sharing and Healthy Eating Community!!</h1>
        <p>Are you passionate about cooking and looking for a place to share your culinary creations? 
            Do you want to discover new recipes that can help you eat healthier and diversify your diet? 
            Look no further than My Recipe Book, the go-to community for food enthusiasts of all levels!
            At My Recipe Book, we believe that healthy eating should be delicious and fun. Our platform allows you to easily add and share your favorite recipes,
             from mouth-watering appetizers to hearty main courses and decadent desserts. Whether you're a seasoned chef or a kitchen novice, 
             you'll find inspiration and support from our vibrant community of food lovers.
        </p>    
        
        <h2>Why Join My Recipe Book?</h2>
        <ul>
            <li><b>Share Your Creations:</b> Upload your recipes and showcase your culinary skills. Receive feedback, tips, and encouragement from fellow members.</li>
            <li><b>Discover New Flavors:</b> Browse a diverse collection of recipes submitted by our community. Explore new ingredients, cuisines, and cooking techniques.</li>
            <li><b>Eat Healthier:</b> Find nutritious and balanced meal ideas that suit your dietary preferences and goals. Our community is committed to promoting healthy eating habits.</li>
            <li><b>Connect with Food Enthusiasts:</b> Join a network of like-minded individuals who share your passion for cooking and healthy living. Participate in discussions, share experiences, and make new friends.</li>
            <li><b>Personalized Experience:</b> Save your favorite recipes, create shopping lists, and plan your meals effortlessly with our user-friendly tools.</li>
        </ul>
        <br>
        <br>
        <br>
        <p>Join My Recipe Book today and start your journey towards a healthier, more delicious lifestyle. 
            Share your recipes, discover new favorites, and become a part of a community that celebrates the joy of cooking and eating well. 
            Let's cook up something amazing together!
        </p>

    </span>
</div>
</div>

{% endblock content %}